<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions </h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
    
        <p>lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee.lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee.lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee</p>
        <p>lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee.lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee</p>
        <p>lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee.lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee</p>
        <p>lslkd dkdl skeoij diogjoagjp dkd alkdkj dlkk alkd dla;d lkgglg ae9e9ck alklk ekeele slsslsls eeeiee</p>
    <div class="text-center">
        <button class="btn btn-info btn-sm mt-4">Back to Home</button>
    </div>
    
    </div>
</div>
</section>