<div class="list row"  style=" height: 500px; width: 500px; margin: auto; ">

    <!-- for search value by Title -->
 
   <div class="col-md-8">
     <div class="input-group mb-3">
       <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
       <div class="input-group-append">


<!-- search button work here -->
         <button class="btn btn-outline-secondary" (click)="searchTitle()">  
           Search
         </button>  


       </div>
     </div>
   </div>
 
 <!-- for showing list click data and open view  -->
   <div class="col-md-6">
     <h4> List view</h4>
     <ul class="list-group">
       <li class="list-group-item" *ngFor="let pack of package; let i = index" [class.active]="i == currentIndex"
         (click)="setActivePackage(pack, i)">
         {{ pack.title }}
       </li>
     </ul>
 <!-- for showing remove button  -->
     <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPackages()">
       Remove All
     </button>
   </div>
 <!-- for showing remove button  -->

 <!-- com -->


   <div class="col-md-6">
     <app-packag-details [viewMode]="true" [currentPackage]="currentPackage"></app-packag-details>
   </div>
 


  <!-- com -->
 </div>