<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://i.pinimg.com/originals/c7/6b/77/c76b774b6652e4052b405ba5fa82084e.png" alt=""
                    class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">PackageName</small>
                    <small class="bg-light text-sucess text-center ml-2">PackageType</small>
                    <small class="bg-light text-info text-center ml-2">PackagePrice</small>
                    <small class="bg-light text-warning text-center ml-2">starting date and end date</small>


                    <h1 class="mt-3 mb-3">SILVER UMRAH 14 DAYS </h1>
                    <p> 
                        Makkah Hotel	: AL SARAYA IMAN (SNOOD AJYAD)
                        Madinah Hotel	: KARAM AL MADINAH
                        Flight Departure	: MUMBAI
                        From INR 99,000 / PER PERSON
                         14 NIGHTS
                    </p>


                </div>

<button routerLink="/" class="btn btn-danger" routerLink="/packages">Booking Now</button>

            </div>


            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>

        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <p></p>
            <app-post-card></app-post-card>
            <p></p>
            <app-post-card></app-post-card>


        </div>

    </div>
</div>