<div class="card shadow-effect">
    <img src="https://www.nicepng.com/png/detail/160-1604928_best-mosque-png-badshahi-mosque.png" alt="post-imge" class="card-img-top">
<div class="card-body">
    <small class="bg-light text-danger text-center">PackageName</small>
    <small class="bg-light text-success text-center ml-3" >PackageType</small>
    <small class="bg-light text-info text-center ml-3" >PackagePrice</small>

    <h5 class="mt-1">package starting date & package end date</h5>
    <p>package details</p>
<small class="bg-light text-warning text-center ml-3" class="btn btn-danger" routerLink="/SinglePost">Click Details & Booking Now </small>

</div>

 
</div>
